/build/

*.exe
*.out
*.o
*.a
*.so


/*.cmake
/*.cmake.in
/*.cbp
/*.kdev4
/*.kdevelop
/*.layout
/*.workspace

.vscode/
*.suo
*.user
*.userprefs
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

.DS_Store


*.swp
*~
